body 
{
    margin: 60px auto;
    width: 60%;
}

/*Navigation menu*/
nav ul, footer ul 
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: red;
    font-size: 1.3em;
}

nav ul li, footer ul li 
{
    display: inline;
    margin-right: 20px;
}

/*Hyper link*/
a
{
    text-decoration: none;
    color: #808080;
}

a:hover 
{
    text-decoration: underline;
}

h2
{
    font-size: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #000066
}

p{
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
}

footer 
{
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #808080;
}


/*Format the list of post*/

ul.posts { 
    margin: 20px auto 50px; 
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.posts li {
    list-style: none;
}
