<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/publication">Publication</a></li>
					<li><a href="/publication">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
				
				{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:castro.renam@gmail.com">email: castro.renam@gmail.com</a></li>
	        		<li><a href="https://github.com/castrorenam">github.com/castrorenam</a></li>
				</ul>
			</footer>
		</body>
	</html>
